<div class="container" ng-app="myGallery">
  <div class="row" id="image_gal" data-url="<%=image_gallery_images_path(format: :json ) %>" ng-controller="Ctrl as ctrl">
    <h1><%=@imageable.name %> </h1>
    <ng-gallery images="ctrl.images" thumbs-num="11">
    </ng-gallery>

  </div>
